# docker-ce apt repositories
{% set repo = "stable" %}


deb [arch={{ docker_apt_arch | default('amd64') }} signed-by={{ docker_repo.keyring_path }}] {{ docker_repo.repo_url }} {{ ansible_distribution_release }} {{ repo }}
